{% extends('base.html.twig') %}

{% block title %} {{parent()}} Accueil {% endblock %}

{% block body %}

    <h1>Bienvenue sur le Super Blog TP de la mort qui tue</h1>

    <h3>En espérant aller le plus loin possible, si vous pouvez lire ça c'est que c'est pas trop mal parti. <br>
    et maintenant, un petit peu de remplissage généreusement offert par Lauren Ipsum, notre chargée des espaces vides. </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nemo natus facilis voluptate, officia provident quisquam asperiores neque consequuntur, doloribus incidunt laboriosam in hic iure ullam atque minus! Sit, dolor?
    Ullam laborum quo fuga ex veniam debitis ut blanditiis enim, quae quaerat eveniet laboriosam aliquam culpa facere. Praesentium quos earum molestias eveniet molestiae cupiditate nemo sapiente. Consectetur vero voluptates deleniti!
    Voluptates corporis rem odio deserunt perspiciatis tempora exercitationem at voluptatibus debitis est accusantium corrupti illo cumque nam excepturi itaque nobis ipsam iste natus tenetur, accusamus quod? Doloribus, aliquid. Vel, inventore?
    Deserunt distinctio ad eius. Exercitationem rerum nam velit, minus repellendus sequi voluptas incidunt ex eligendi deserunt doloribus mollitia in, consequuntur non doloremque perspiciatis voluptatibus laborum. Nulla deserunt animi exercitationem ipsam?
    Magni hic, ad sequi reprehenderit consectetur accusamus atque et pariatur iusto, ipsa, nam architecto consequuntur voluptate? Eligendi voluptates ducimus iure esse totam iusto maxime soluta cupiditate id? Rem, doloremque iure.</p><br>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus consectetur, voluptas cumque error quo unde molestias quis reprehenderit in, quos impedit modi similique veritatis aut nobis, ipsum iusto commodi dolorum!
    Explicabo, inventore fuga possimus quae cupiditate ullam hic ipsam modi esse, consequuntur recusandae quos sed illo? Officiis architecto, soluta explicabo reiciendis, et odit, cum aliquid quasi ipsum deleniti quis dicta.
    Enim vero et assumenda officiis consequuntur quo fugiat. Accusamus obcaecati dolores illum inventore vero ea praesentium fugit omnis eveniet? Ratione quis dolores eaque non culpa consectetur assumenda commodi? Corporis, doloribus?
    Hic similique labore dignissimos suscipit, quaerat ipsa non magnam eius repellendus modi natus tempore rerum quas itaque amet est perspiciatis fuga error sunt provident, veritatis aut explicabo maxime? Necessitatibus, expedita!
    Repudiandae eaque ad praesentium tempore deleniti debitis alias nihil iste, nulla odio deserunt, nemo, magni vel. Excepturi in quod, quis quae quas assumenda error dicta sed, voluptatem ipsa voluptatum sint.
    Ab, ut minima. Dolorem aspernatur cumque, dolorum suscipit sed vitae illo atque optio. Illo dolor ducimus a molestiae illum cumque magnam, totam quos asperiores quod! Aliquid, eligendi velit. Voluptas, saepe!
    Qui, cum nostrum. Reprehenderit, voluptatem minus! Eaque rem harum optio dignissimos dolore fugiat omnis praesentium repudiandae consectetur aperiam! Ad voluptatem doloribus corporis ut vero, error ipsum adipisci explicabo magnam laudantium.
    Nulla harum vero vitae rerum numquam est sapiente non. Temporibus fuga dolorum quo doloremque in at, placeat alias praesentium doloribus deleniti, dignissimos eum molestias, sapiente dolorem incidunt laborum animi aliquam.
    Quis explicabo accusamus, deserunt deleniti sunt officia ipsam distinctio pariatur laborum illum at soluta, sit tempore doloremque consequatur esse ipsum porro, quas eaque saepe ea quam nam! Iste, magni consequatur?
    Obcaecati doloribus ducimus nulla nam magni veniam reprehenderit maiores voluptatum eligendi quos distinctio laboriosam, adipisci deserunt veritatis, aliquid tempora sed voluptatem ratione neque, accusamus explicabo nisi iste! Laudantium, autem earum.</p>

    <p>Si vous êtes en train de lire cette ligne, bravo! On sait que Lauren est un peu une câneuse et qu'elle l'a ramène souvent avec son latin de m***e que presque personne ne comprend mais ça fait passer le temps et remplit l'espace. <br>
    Bonne continuation. L'équipe unipersonnelle de moi-même.</p>

    {% endblock %}
