{% extends('base.html.twig') %}

{% block title %} {{parent()}} CGU {% endblock %}

{% block body %}

    <div style="text-align: center;" class="container">
        <div class="row">
            
            <h1>Conditions Générales d'Utilisations</h1>

                <p>Oui, on sait, personne ne les lit à moins d'avoir une formation en droit, de se faire ch*e, ou d'avoir 70 ans et les bonnes lunettes mais bon il le <br>
                    Lauren nous fait un peu la tronche parce qu'elle a vu ce qu'on disait sur la page d'accueil. Vu qu'elle est partie manger des chips, c'est son stagiaire qui va prendre sa place sur cette page pour le remplissage.</p>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum blanditiis id optio mollitia at dolor laboriosam. Nemo at quo veniam rem alias minima, molestias, cupiditate cumque consequuntur, doloremque non beatae?
                Iste quo tempore accusantium et distinctio ipsa fugiat porro sed, illo velit. Voluptates vero illum quam numquam odit, aperiam assumenda voluptatem impedit adipisci veritatis officiis eveniet. Quo in officia iste.
                A necessitatibus architecto cumque magni pariatur, labore repellendus eaque ex illo possimus ad esse rerum deserunt consequuntur. Eos possimus molestias, odit doloremque hic nihil voluptatem obcaecati at minima veritatis perspiciatis?
                Voluptatibus doloremque harum dolor aut at sunt odio quam cumque accusamus reiciendis corrupti nostrum eveniet, omnis quis, aspernatur dolorem temporibus soluta, consectetur esse magni ad animi ipsam culpa iure. Rem!
                Et minima libero odio in optio, similique suscipit facere molestiae eos a maxime dolorum eveniet aliquid voluptates assumenda, reprehenderit quos id provident harum? Repudiandae expedita earum molestias beatae doloribus animi!
                Eligendi maiores eaque illum autem? Nisi possimus nobis quis quaerat odio, repudiandae aut iure consectetur! Velit aliquam, maxime repellat, officia, minima quasi quibusdam at nulla eum accusantium a iste incidunt?
                Ullam ad, minima molestias cum esse tempora harum voluptates, sequi eos similique neque, maiores dignissimos tenetur? Ea, est quos neque voluptatem, dignissimos error minus, maiores quidem pariatur praesentium perferendis dolorum!
                Id aperiam culpa at nemo eaque harum sit corrupti? Aperiam atque quos voluptatem, corporis dolor minus provident corrupti. Velit magni unde eos cumque facilis. Excepturi ratione quis hic iure doloribus.
                Nulla asperiores id ea cumque, dolorum, perferendis fugit maiores consequuntur adipisci modi minima eos atque nam tempora blanditiis porro necessitatibus accusamus ipsam quisquam. Blanditiis nulla quis perspiciatis amet voluptatem excepturi.
                Repudiandae nemo ratione tempora aliquid sed esse itaque, ipsum vel libero. Laborum nisi exercitationem veritatis totam dignissimos nesciunt reiciendis. In saepe placeat architecto, atque soluta repudiandae illo nemo id voluptatibus.
                Magnam, quidem. Inventore laboriosam accusamus repellendus. Beatae molestias quisquam libero doloremque culpa cumque magni repellendus praesentium at, molestiae sint soluta vel! Vero deserunt quidem iusto sunt similique deleniti, natus optio!
                Id autem veniam quaerat unde! Molestiae perferendis eligendi tempore quam! Perferendis odit accusamus vitae odio repudiandae voluptatum corrupti, soluta consequuntur veritatis labore facilis quisquam, quos ab? Magnam eveniet doloribus nemo.
                Maiores amet molestias, pariatur dolor in laudantium quae ipsa dolorum nihil? Veniam perspiciatis reprehenderit laborum magnam quos optio dicta blanditiis labore, exercitationem officia provident quisquam eius ipsum? Eius, recusandae consequuntur.
                Sit consequuntur tenetur suscipit corrupti illo magni optio pariatur laboriosam. Numquam doloremque quidem praesentium alias, natus quasi. Placeat itaque unde quis quo deleniti. Facere ratione placeat eligendi aliquam perferendis incidunt?
                Soluta, amet? Libero eum sequi neque voluptatibus est veritatis sint eos in asperiores, qui soluta similique dignissimos sapiente sed, reiciendis corrupti iste id! Earum ducimus cumque voluptatibus, quibusdam laudantium quam!</p>
                <br>
            
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam deleniti dolor ipsa eaque omnis, possimus explicabo iste eos perspiciatis, ad odio exercitationem laudantium. Dignissimos magnam beatae doloremque illum voluptas architecto.
                Perspiciatis provident obcaecati, dolorem debitis enim commodi magni alias sed iste cupiditate dignissimos, dolor quod. Similique dicta ipsam assumenda itaque quasi blanditiis, iure labore eligendi recusandae doloremque corrupti molestiae rem!
                Voluptas minus dolorum fugit molestiae fugiat natus provident perspiciatis dolore? Error assumenda aut ut molestiae quos ipsa magni eligendi, facilis, adipisci non similique nostrum voluptate culpa? Incidunt totam nobis vitae?
                Sit quo, quas possimus incidunt tempora explicabo voluptatem atque alias soluta voluptatibus eligendi fuga unde porro nobis deleniti non quisquam exercitationem mollitia. Sit sint architecto dolores dolorum delectus aperiam quas.
                Maxime in non consequatur accusantium dolore quis labore dolores harum, sunt cupiditate, commodi dolorem. Veniam neque minus, doloribus numquam ullam cum odio saepe maiores aliquam incidunt, ipsum, voluptatem quod nobis.
                Ipsa placeat molestiae eos. Totam eligendi earum quidem possimus quas modi magni in illo, repellat voluptatibus voluptates quaerat atque aliquid repellendus quam commodi minima! Ut perspiciatis est enim et voluptas.
                Amet earum nulla ut! Tempore numquam minima minus sunt nulla animi sint sit consequatur soluta, labore fuga voluptatibus deserunt nemo iure repellendus repellat vel possimus velit odio eos error earum?
                Odit nisi quo, excepturi autem quidem, delectus facilis tempore voluptatem voluptate nulla ipsa quisquam corrupti consequuntur voluptatum illum nemo eaque. Dolor assumenda dignissimos labore omnis quaerat, facilis nulla debitis quidem.
                Accusantium non impedit eaque excepturi vitae velit eius natus reprehenderit omnis, tenetur rem aliquid, sint deleniti nesciunt quidem, nulla quas magni molestiae ducimus assumenda. Inventore consequuntur alias ut quasi esse.
                Sapiente ipsa fuga distinctio omnis non, magnam tenetur repudiandae inventore dolorum explicabo laborum soluta, consequuntur quos aspernatur eos cupiditate saepe sunt iste! Nulla non perferendis quo perspiciatis autem maiores sapiente?</p>
                <br>
            
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda vitae reprehenderit distinctio provident ullam molestias adipisci impedit mollitia repudiandae harum, expedita nobis hic quae, repellendus illum corporis soluta! Fuga, ducimus?
                Cumque pariatur vel nisi nesciunt deleniti hic quia maxime ea molestias facere, vero quae, omnis est doloribus inventore! Suscipit quae totam vero quos fugiat esse magni, rerum ipsam vel sint.
                Ipsum dolor, magni, dolore veniam excepturi necessitatibus voluptas consequatur officiis voluptatum perspiciatis porro, fugiat doloremque architecto quaerat ea et libero iure? Ipsa ad sed autem et est voluptas officiis. Quam?
                Quidem, cumque! Minima iure iste voluptas accusamus alias illum quod repudiandae laudantium pariatur maiores! Doloribus quisquam dicta consequuntur quod obcaecati fugiat porro molestias ipsum minima est a officia, odio neque?
                Natus accusantium ea labore exercitationem alias sunt eaque dolore similique cum odio quam harum, nihil nesciunt minus? Magni ipsam, veniam vel necessitatibus unde debitis doloribus nobis, accusantium neque aliquid provident!
                Labore autem maxime reprehenderit numquam similique nisi excepturi, perspiciatis vitae amet expedita consequatur obcaecati, accusamus facilis qui nostrum. Aperiam tempora reiciendis nostrum fugit accusamus incidunt quae, optio debitis illum vel.
                Commodi, vitae cupiditate, nobis magni doloremque omnis fugit quam recusandae, aliquam praesentium repellendus autem! Consequuntur minima beatae explicabo laborum amet? Beatae eaque iste earum vel ut voluptates laudantium laboriosam neque.
                Quae illum quaerat, porro eveniet quas, veritatis vel non id earum architecto obcaecati harum minus. Molestias distinctio beatae velit fugiat vitae culpa expedita dolorum maxime, quo laborum sed quibusdam officia.
                Quo iusto voluptatem illum modi ad voluptas totam culpa impedit, laborum explicabo perferendis obcaecati itaque. Nemo nihil unde ipsa quisquam eius expedita iste itaque esse ratione necessitatibus! Porro, similique molestiae.
                Voluptate saepe architecto alias ipsam quidem accusamus facere aut tempore deserunt totam atque, vitae corrupti dolorum libero repellat eveniet. Sunt ad minima, magni magnam cumque velit repudiandae et dolore soluta!</p>
                <br>
            
                <p>Encore une fois, si vous êtes arrivé là, vous êtes un champion ou un avocat qui veut acheter le site (j'attends votre offre) ou un vieux de 70 ans avec les bonnes lunettes. Le stagiaire à fait un boulot de cochon, c'est encore plus imbittable que d'habitude. <br>
                On fera mieux la prochaine fois, promis (ou pas).</p>
        </div>
    </div>

   


{% endblock %}